#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.our-services {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: lightgray; /* Light grey background color */
}

.services-half {
  flex: 1;
  padding: 20px;
}

.left-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matwana-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.service-description {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.right-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.service-item {
  text-align: center;
  margin-bottom: 30px;
}

.service-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.service-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.service-button {
  padding: 10px 20px;
  background-color: lavender;
  color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.service-button:hover {
  background-color: #0056b3;
}

.fleet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.fleet-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light grey background */
}


.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fleet-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.button-group-left,
.button-group-right {
  display: flex;
  gap: 10px;
}

.fleet-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


