
.bus-grid-container {
    background-color: 9white; 
    padding:100 px;
}

.bus-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
}

.bus-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
  }
  
  .bus-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .bus-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .bus-item h3,
  .bus-item p {
    transition: color 0.3s;
  }
  
  .bus-item:hover h3,
  .bus-item:hover p {
    color: #007bff;
  }
  
  .bus-item.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
