.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .content {
    flex: 1;
    padding: 50px;
  }
  
  .image-container {
    flex: 0 0 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400%; 
  }
  
  .content p {
    font-size: 4.5em; 
    color: black;

  }