@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

/* Center the form horizontally within the parent container */
.form-container {
  display: flex;
  justify-content: center; /* Center form horizontally */
  width: 100%;
  padding-left: 20em;
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all form elements to the left */
  width: 300px; /* Adjust as needed */
  padding: 20px; /* Adjust padding to create space around form elements */
  border: 1px solid #ddd; /* Optional: border for visual separation */ /* Optional: rounded corners */ /* Optional: background color */
  margin-top: 3em;
  padding-left: 50em;
  margin-right: 25em;
  padding-right: 15em;
  font-family: 'Inknut Antiqua', serif;
  padding-bottom: 15em;
}

.form-image-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden; 
}

.form-image {
  width: 29%; 
  height: 85%; 
  object-fit: cover;
  position: absolute;
  margin-top: 49px;
  filter: brightness(60%); 
}
.text{
  color: #af1717;
  position: absolute;
  margin-top: 350px;
}
.text h1{
  color: rgb(255, 255, 255);
  margin-left: 150px;
}
.text h2{
  color: rgb(255, 255, 255);
  margin-left: 70px;
  font-size: 12px;
}


input {
  padding: 10px; 
  width: 100%;
  box-sizing: border-box; 
  border: none;
  border-bottom: 2px solid #4d4c4c; 
  outline: none;
  font-family: 'Inknut Antiqua', serif; 
  font-size: 1px;
  line-height: 1.5;
  
}

input::placeholder {
  color: #999;
  font-family: 'Inknut Antiqua', serif; 
  font-size: 14px;
}


input:focus {
  border-bottom: 2px solid #002955;
}


h3 {
  margin: 0; 
  margin-bottom: 5px; 
  text-align: left;
  padding-top: 70px;
}

button {
  padding: 10px;
  cursor: pointer;
  width: 100%; 
  box-sizing: border-box; 
  margin-top: 20px;
  background-color: rgb(22, 22, 22);
  color: white;
  border: none;
}


p {
  margin-top: 20px;
  font-family: 'Inknut Antiqua', serif; 
  font-size: 14px; 
  line-height: 1.5;
  white-space: nowrap;
}


.sign-up-button {
  display: inline-block; 
  padding: 10px 20px; 
  font-family: 'Inknut Antiqua', serif; 
  font-size: 14px; 
  text-decoration: none;
  color: white; 
  background-color: #bbbbbb; 
  text-align: center;
  cursor: pointer; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sign-up-button:hover {
  background-color: #003366;
  border-color: #003366; 
}

.sign-up-button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}


h4 {
  font-family: 'Inknut Antiqua', serif; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}