@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure body takes full viewport height */
  overflow: hidden; /* Prevent scrollbars */
  position: relative; /* Allow absolute positioning of child elements */
}

.form-image {
  width: 100%;
  height: 100vh;
  color: transparent;
  object-fit: cover;
  filter: brightness(60%);
  position: fixed; /* Fixed positioning to ensure it stays in place */
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the image is behind other content */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Absolute positioning to fill the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.Loginform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #ffffff; /* Add background color for better visibility */
  font-family: "Inknut Antiqua", serif;
  z-index: 1; /* Ensure the form is above other elements */
}

.btn {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: #ca80ff;
  color: white;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2; /* Ensure the button is above other elements */
}
