.our-services {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: lightgrey; /* Light grey background color */
  }
  
  .services-half {
    flex: 1;
    padding: 20px;
  }
  
  .left-half {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .matwana-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .service-description {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  .right-half {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .service-item {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .service-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .service-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .service-button {
    padding: 10px 20px;
    background-color: lavender;
    color: teal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .service-button:hover {
    background-color: #0056b3;
  }