.profile-container {
    background-color: #ace0e4; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

.profile-photo {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    background-color: #2b5350; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: relative;
}

.profile-photo img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
}

.profile-photo input[type="file"] {
    display: none;
}

.edit-photo-button {
    background-color: #00796b;
    color: white;
    padding: 8px 16px; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    margin-bottom: -70px; 
    font-size: 14px; 
    transition: background-color 0.3s ease;
}

.edit-photo-button:hover {
    background-color: #004d40; 
}
.profile-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-details label {
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.profile-details select,
.profile-details input {
    padding: 8px;
    margin-bottom: px;
    border: 1px solid #b2dfdb;
    border-radius: 4px;
    width: 100%;
    max-width: 400px; /* Limit the width of input fields */
    cursor: pointer;
}

.profile-details input:read-only,
.profile-details select:read-only {
    background-color: #f0f0f0;
    cursor: pointer;
}

.profile-details input:focus,
.profile-details select:focus {
    background-color: white;
    cursor: text;
}

.profile-details button {
    display: none; 
}