/* sign.css */
/* body {
  background-color: #f4f7f6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

.signup {
  background-color: #ffffff;
  justify-content: center;
  margin-left: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 500px;
  /* max-width: 400px; */
  box-sizing: border-box;
}

.signup h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.signup .Sign {
  display: flex;
  flex-direction: column;
}

.signup input,
.signup select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.signup input:focus,
.signup select:focus {
  border-color: #1ab188;
  outline: none;
}

.signup button {
  padding: 15px;
  background-color: #1ab188;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup button:hover {
  background-color: #159a75;
}

.signup p {
  color: red;
  text-align: center;
}

.signup p.error {
  color: #e74c3c;
  margin-top: -10px;
}

