.nav {
  background-color: #00c3ff; 
  padding: 20px; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-logo {
  font-size: 24px;
  font-weight: bold; 
  color: black; 
  text-transform: uppercase;
}

.nav-menu {
  list-style: none; 
  display: flex; 
  margin: 0; 
  padding: 0; 
}

.nav-menu li {
  margin-left: 20px; 
}

.nav-menu li a {
  text-decoration: none;
  color: black; 
  font-size: 18px; 
  transition: color 0.3s ease; 
}

.nav-menu li a:hover {
  color: #1ab188; 
}
